<header *ngIf="shouldShowHeader()">
    <ul>
        <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/register-lost-people" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cadastrar</a></li>
        <li><app-logo></app-logo></li>
        <li><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Sobre</a></li>
        <li><a routerLink="/login">Sair</a></li>
    </ul>
</header>