.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 375px;
    padding: 1.3rem;
    min-height: 90px;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-size: 18px;
        font-weight: bold;
    }
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
    font-size: 18px;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.modal-danger {
    background-color: #d06262;
    color: #fff;

    p {
        color: #fff !important;
    }
}

.modal-success {
    background-color: #92dc7b;
    color: #fff;

    p {
        color: #fff !important;
    }
}