<div class="main-container">
    <div class="divider-container">
        <div class="title-about"><h1> Sobre </h1></div>
        <div class="text-about">
            <p>A SeekingLost trata-se de um projeto academido, destinado ao uso de modelos de aprendizagem de maquinas e reconhecimento de padrões para a analise de dados. Tem como objetivo analisar imagens para identificar pessoas desaparecidas.</p>
        </div>
        <div class="img-about">
            <img src="../../../assets/images/undraw_team_work_k-80-m 1.svg" alt="">
        </div>
    </div>
</div>